<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between mt-2">
          <a href="/dashboard" class="text-nowrap logo-img">
            <img src="../assets/images/My project-2.png" style="border-radius: 50%;" width="80" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/viewproducts" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/viewcategory" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Category</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/addproduct" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Add Product</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/addmin" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Admin++</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/users" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Users</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/ordermanage" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/showcoupons" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Coupons</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/getbanner" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Banner</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/addbanner" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Add Banner</span>
              </a>
            </li>
            <a href="/adminlogout" class="btn btn-outline-warning ">Logout</a>
            <!-- <li class="sidebar-item">
              <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Sample Page</span>
              </a>
            </li>
          </ul> -->
            <!-- <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
              </div>
              <div class="unlimited-access-img">
                <img src="../assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
              </div>
            </div>
          </div> -->
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">

      <style>
        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropbtn {
          background-color: #d6d6d6;
          color: black;
          padding: 5px 10px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {
          background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }

        .dropdown:hover .dropbtn {
          background-color: #b7b7b7;
        }

        .card {
          background-color: #ffffff;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          padding: 15px;
          border-radius: 8px;
          text-align: center;
        }

        .card-title {
          font-size: 18px;
          color: #333;
        }

        .card-value {
          margin-top: 10px;
          font-size: 36px;
          color: #008080;
          /* Choose your desired color */
        }

        .currency-symbol {
          font-size: 24px;
          vertical-align: middle;
        }

        .value {
          font-weight: bold;
        }

        .card {
          width: 200px;
          background-color: #ffffff;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          border: 2px solid #008080;
          /* Add border styling */
          padding: 15px;
          border-radius: 8px;
          text-align: center;

        }

        .chart-container {
          display: flex;
          /* Use flex display to arrange the charts side by side */
        }

        .chart {
          flex: 1;
          /* This will make both charts take up equal horizontal space */
          margin: 10px;
          /* Add some margin for spacing between the charts */
          box-sizing: border-box;
          /* Include padding and border in the width of the elements */
        }

        #lineChart {
          max-width: 100%;
        }

        #pieChart {
          max-width: 100%;
        }
      </style>
      <div class="row gx-5">
        <div class="col-md-12 ">
          <div class="row ">
            <div class="col-md-3 mt-5">
              <div class=" my-2">

                <a class="btn btn-secondary" href="/sales-report">Sales Report</a>

              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-1">
                <span class="card-title">
                  Total Revenue
                </span>
                <h1 class="card-value">
                  <span class="currency-symbol">₹</span>
                  <span id="revenue" class="value"></span>
                </h1>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mt-1">
                <span class="card-title">
                  Order Count
                </span>
                <h1 class="card-value">
                  <span class="currency-symbol"></span>
                  <span id="ordercount"></span>
                </h1>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mt-1">
                <span class="card-title">
                  Products Saled
                </span>
                <h1 class="card-value">
                  <span class="currency-symbol"></span>
                  <span id="productsales"></span>
                </h1>
              </div>
            </div>

          </div>

          <div class="chart-container">
            <div class="chart">
              <h4 class="text-center text-decoration-underline">Weekly Sales</h4>
              <canvas id="lineChart" width="600" height="600"></canvas>
            </div>
            <div class="chart">
              <h5 class="text-center">Payment Method Count</h5>
              <canvas id="pieChart" width="400" height="400"></canvas>
            </div>
          </div>



        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart;

        async function fetchWeeklyData() {
          try {
            const response = await fetch('/weekly-report'); // Replace with your actual endpoint
            const data = await response.json();
            const weeks = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            console.log(data);
            // Initialize arrays for revenue and order count data for all months
            const allWeeksRevenue = Array.from({ length: 7 }, () => 0);
            const allWeeksOrderCount = Array.from({ length: 7 }, () => 0);

            // Update data arrays with fetched data
            data.labels.forEach((label, index) => {
              const weekIndex = weeks.indexOf(label);
              if (weekIndex !== -1) {
                allWeeksRevenue[weekIndex] = data.revenueData[index];
                allWeeksOrderCount[weekIndex] = data.orderCountData[index];

              }
            });

            const element = document.getElementById('revenue')
            const revenue = data.totalRevenue
            element.textContent = revenue

            const element1 = document.getElementById('ordercount')
            const ordercount = data.totalDeliveredOrders
            element1.textContent = ordercount

            const element2 = document.getElementById('productsales')
            const productsaled = data.totalSoldProducts
            element2.textContent = productsaled

            myLineChart = new Chart(ctxL, {
              type: 'line',
              data: {
                labels: weeks,
                datasets: [{
                  label: "Total Revenue",
                  data: allWeeksRevenue,
                  backgroundColor: 'rgba(105, 0, 132, .2)',
                  borderColor: 'rgba(200, 99, 132, .7)',
                  borderWidth: 2
                },
                {
                  label: "Order Count",
                  data: allWeeksOrderCount,
                  backgroundColor: 'rgba(0, 137, 132, .2)',
                  borderColor: 'rgba(0, 10, 130, .7)',
                  borderWidth: 2
                }]
              },
              options: {
                responsive: true
              }
            });
          } catch (error) {
            console.error(error);
          }
        }

        fetchWeeklyData();

        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart;

        async function fetchPieChartData() {
          try {
            const response = await fetch('/paymentmethodcount'); // Replace with your actual endpoint for pie chart data
            const data = await response.json();
            console.log(data);

            myPieChart = new Chart(ctxP, {
              type: 'pie',
              data: {
                labels: ['COD', 'Razorpay', 'Wallet'], // Labels for the pie chart
                datasets: [{
                  data: [data.codCount, data.razorpayCount, data.walletCount], // Data values for the pie chart
                  backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
                  hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"],
                }]
              },
              options: {
                responsive: true,
                plugins: {
                  datalabels: {
                    formatter: (value, context) => {
                      return value; // Display the data value inside the label
                    },
                    color: 'white', // Label text color
                    font: {
                      weight: 'bold' // Label text style
                    }
                  }
                }
              }
            });
          } catch (error) {
            console.error(error);
          }
        }

        fetchPieChartData();


      </script>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>




</body>

</html>