<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Raleway, sans-serif;
    }

    body {
      background: #F2F2F2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .login-card {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      max-width: 360px;
      padding: 32px;
    }

    .login-card__logo {
      text-align: center;
      margin-bottom: 32px;
    }

    .login-card__logo img {
      width: 100px;
      height: 100px;
    }

    .login-card__field {
      position: relative;
      margin-bottom: 24px;
    }

    .login-card__icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: #7875B5;
    }

    .login-card__input {
      width: 100%;
      border: none;
      border-bottom: 2px solid #D1D1D4;
      background: none;
      padding: 10px 40px 10px 40px;
      font-weight: 700;
      color: #4C489D;
      border-radius: 4px;
      transition: .2s;
    }

    .login-card__input:focus {
      outline: none;
      border-bottom-color: #6A679E;
    }

    .login-card__submit {
      background: #4C489D;
      font-size: 16px;
      padding: 16px;
      border-radius: 26px;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      transition: .2s;
    }

    .login-card__submit:hover {
      background: #645EB5;
    }

    .login-card__footer {
      text-align: center;
      margin-top: 24px;
    }

    .login-card__footer-link {
      color: #4C489D;
      text-decoration: none;
      font-weight: 700;
      margin-right: 10px;
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
    }

    .social-login__icon {
      padding: 10px;
      color: #7875B5;
      text-decoration: none;
      font-size: 24px;
      transition: .2s;
    }

    .social-login__icon:hover {
      color: #645EB5;
    }
  </style>
</head>

<body>
  <div class="login-card">
    <div class="login-card__logo">
      <img src="./assets/images/My project-2.png" style="border-radius: 50%;" alt="Your Logo">
    </div>
    <form class="form-horizontal" method="post" action="/login">
      <% if (locals.error) { %>
      <h5 class="alert alert-danger">
        <%= msg %>
      </h5>
      <% } %>
      <div class="login-card__field">
        <i class="fa fa-envelope fa-lg login-card__icon" aria-hidden="true"></i>
        <input type="email" class="login-card__input" name="email" id="email" placeholder="Enter your Email" />
      </div>
      <div class="login-card__field">
        <i class="fa fa-lock fa-lg login-card__icon" aria-hidden="true"></i>
        <input type="password" class="login-card__input" name="password" id="password"
          placeholder="Enter your Password" />
      </div>
      <div class="login-card__field">
        <button type="submit" class="login-card__submit">Login</button>
      </div>
    </form>
    <form class="form-horizontal" method="post" action="/otp-login">
      <!-- <h6>OTP Login</h6> -->
      <% if (locals.otpError) { %>
      <h5 class="alert alert-danger mt-3">
        <%=msg %>
      </h5>
      <% } %>
      <div class="login-card__field">
        <i class="fa fa-phone fa login-card__icon" aria-hidden="true"></i>
        <input type="text" class="login-card__input" name="mobile" id="mobile" placeholder="Enter your mobile number" />
      </div>
      <div class="login-card__field">
        <button type="submit" class="login-card__submit my-2">Otp Login</button>
      </div>
    </form>
    <div class="login-card__footer">
      <a href="/signup" class="login-card__footer-link">Sign Up</a>
      <a href="/forgot-password" class="login-card__footer-link">Forgot Password</a>
    </div>
    <div class="social-icons">
      <a href="#" class="social-login__icon">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="social-login__icon">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="social-login__icon">
        <i class="fa fa-google"></i>
      </a>
    </div>
  </div>
</body>

</html>
